<footer id="footer" class="footer mt-auto py-3 bg-light" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <!-- Контактные данные, руководство пользователя и правила покупки в одну строку -->
    <div class="footer-links text-center">
      <p class="contact-info inline-block">Контакты: vkarzakov31@gmail.com | Телефон: +89147893505</p>
      <p class="user-guide inline-block">Руководство пользователя: <a href="/gide" target="_blank">Руководство пользователя</a></p>
      <p class="purchase-rules inline-block">Соглашение на покупку: <a href="/purchase-rules">Условия покупки</a></p>
    </div>
    <div class="text-muted p-2 text-center">&copy; project vadim</div>
  </div>
</footer>
