<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://avatars.mds.yandex.net/i?id=0b0345c6aad2cd0a521c3d5e42b3f330c40be276-10150420-images-thumbs&n=13');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #A9A9A9;
        }

    </style>
</head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Страница сайта</h1>
                </div>
                <div>
                    <span th:text="'Last update of Database:'"></span>&nbsp;
                    <span th:text="${#dates.createNow()}"></span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer">
    <p>&copy; 2023 Страница Сайта</p>
</footer>
</body>
</html>
